* {
  font-size: 16px;
}

div {
  width: 25%;
  height: 100px;
  display: inline;
  font-size: 30px;
}

/* .div-one {
  background-color: blue;
}

.div-two {
  background-color: violet;
} */

#em {
  font-size: 2em;
  color: blue;
}

#rem {
  font-size: 2rem;
  color: violet;
}
